<div class = "container">
    <div class = "title">
        FREQUENTLY ASKED QUESTIONS
    </div>
    <div class = "fq">
        <div class="agreement">Discipline is very important in Dance. By being part of REYNODANCE ACADEMY, I commit to following its guidelines.</div>
        
        <div class = "question">
            QUESTION:
        </div>
        <div class = "answer">
            Students will be accepted starting at 2 years old (boys and girls).
            <br>Students will be placed and relocated by the instructor into their respective groups according to their age and knowledge of the subject.
        </div>
    </div>

    <div class = "fq">
        
        <div class = "question">
            QUESTION:
        </div>
        <div class = "answer">
            Students will be accepted starting at 2 years old (boys and girls).
            <br>Students will be placed and relocated by the instructor into their respective groups according to their age and knowledge of the subject.
        </div>
    </div>

    <div class = "fq">
        
        <div class = "question">
            QUESTION:
        </div>
        <div class = "answer">
            Students will be accepted starting at 2 years old (boys and girls).
            <br>Students will be placed and relocated by the instructor into their respective groups according to their age and knowledge of the subject.
        </div>
    </div>
</div>
